@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$primary-color:rgb(32, 40, 121);
$secondary-color: rgb(0,11,111);
$bg-white: #ffffff;
$secondary-font-color: rgb(0, 0, 110);
$primary-font-color: rgb(42, 42, 55);
$question-font-color: rgb(65, 65, 121);
$gray-color: rgb(154, 154, 154);
$border-color: rgb(216, 220, 250);
$bg-black: rgb(0,0,0);
$right-bg: rgb(233,233,255);

$font-weight: (
    "light": 300,
    "regular": 400,
    "semi-bold": 600,
    "bold": 700,
);
