@import './variables';
@import './mixins';

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: map-get($font-weight, "regular");
    color: $primary-font-color;
    &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: rgba(123, 128, 171, 0.15);
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        
      }
}
.peter-lang-wrapper {
    display: flex;
    width: 100%;
    .nav-wrapper {
        width: 107px;
        position: fixed;
        height: 100vh;
        z-index: 9;
        background-color: rgba($primary-color, 0.9);
        .peter-logo {
            height: 68px;
            padding: 10px;
            border-bottom: 1px solid $border-color;
            margin: 0 0 15px;
        }
        #navigation-menu{
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
            li{
                height: 68px;
                display: table;
                width: 100%;
            }
            a{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                color: $bg-white;
                &.mPS2id-highlight,&:hover{
                    background-color: $secondary-color;
                }
                span{
                    display: block;
                }
            }
        }
    }
    .rigt-perter-lang{
        width: calc(100% - 107px);
        margin: 0 0 0 107px;

    }
    #content{
       margin: 40px 15px;
       .covers-wrap{
        border: 1px solid $border-color;
        margin: 0 0 20px;
       }
       h1{
        font-weight: map-get($font-weight, "bold");
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        text-transform: uppercase;
       }
    }
    .cover-samples{
        .cover-sample-left {
            padding: 20px 40px;
            h1{
                color: $primary-color;
            }
        }
    }
    .cover-row-wrap{
        margin: 50px 0 0;
        p{
            font-weight: map-get($font-weight, "bold");
            font-size: 14px;
            line-height: 19px;
            margin:0 0 6px;
        }
        .cover-sample-col{
            margin: 0 0 30px;
        }
    }
    .user-name-wrap {
        position: fixed;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        right: 15px;
        background: $bg-white;
        z-index: 1;
        span{
            font-weight: map-get($font-weight, "semi-bold" );
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            margin: 0 15px 0 0;
        }
    }
    .right-bg{
        border-left: 1px solid $border-color;
        background: rgba($right-bg, 0.2);
    }
    .interior-sample-large{
        .card{
            border: none;
        }
        .card-header {
            padding: 0 10px;
            background: $bg-white;
            box-shadow: 0px 4.27803px 8.55605px -4.27803px rgba(0,0,0,0.2);
            border: none;
            height: 35px;
            display: flex;
            align-items: center;
            margin: 0 0 1px;
            .btn-link{
                padding: 0;
                border: none;
                font-weight: map-get($font-weight, "bold" );
                font-size: 14px;
                line-height: 14px;
                text-decoration: none;
                color: $primary-font-color;
            }
        }

    }
    .author-info-wrap {
        padding: 30px 25px;
        border-bottom: 1px solid $border-color;
        margin: 0 30px;
        &:last-child{
            border:none;
        }
        h1{
            color: $primary-color;
        }
        .author-info-row {
            width: 350px;
            margin: 30px 0 0;
            
            
        }
    }
    label{
        color: $question-font-color;
        font-weight: map-get($font-weight, "semi-bold" );
    }
    .form-control{
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        padding: 0;
    }
    .words-range-wrap{
        .words-wrap-row {
            margin: 0 0 50px;
            &:last-child{
                margin:0;
            }
        }
        .edit-yn-row{
            display: flex;
            .edit-yn-col{
                margin: 0 20px 0 0;
            }
        }
        p{
            color: $question-font-color;
            font-weight: map-get($font-weight, "semi-bold" );
        }
        .words-range-row {
            display: flex;
            .words-range-col {
                border: 1px solid $border-color;
                background: $right-bg;
                margin: 0 20px 0 0;
                padding: 0 15px;
                cursor: pointer;
            }
        }
    }
    .contract-left{
        margin:50px 0 0;
        .nav{
            justify-content: center;
        }
        .nav-item{
           width:135px;
           height: 120px;
           display: table;
           margin:0 20px;
           .nav-link{
               width: 100%;
               height: 100%;
               display: table-cell;
               vertical-align: middle;
               text-align: center;
               color: $primary-font-color;
               border-radius: 0;
               &.active {
                border: 1px solid $border-color;
                background: $right-bg;
                box-shadow: 3px 16px 17px -4px rgba(0, 0, 0, 0.11);
            }
           }
           span{
               display: block;
               font-weight: map-get($font-weight, "semi-bold");
               margin:20px 0 0;
           }
        }
        .generate-btn{
            width:315px;
            height: 35px;
            margin: 70px auto 0;
            a{
                width: 100%;
                height: 100%;
                background: $primary-color;
                display: flex;
            align-items: center;
            justify-content: center;
            color: $bg-white;
            font-weight: map-get($font-weight, "bold");
            }
        }
    }
    .cover-sample-right {
        padding: 20px 35px;
        h1{
            color: $primary-color;
        }
        .cover-sample-large{
            margin:30px 0 0;
            img{width:100%}
        }
    }
    .summary-content{
        background: $bg-white;
        box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.25);
        padding: 30px 0 30px 50px;
        margin:20px 0 0;
        .summary-col{
            margin: 0 0 20px;
            &:last-child{
                margin: 0;
            }
            h5{
                color: $question-font-color;
                font-size: 14px;
                font-weight: map-get($font-weight, "semi-bold" );
            }
            p{
                color: $gray-color;
                font-size: 14px;
                margin: 0;
            }
        }
    }
    .upload-wrap {
        padding: 20px 35px;
        .upload-left{
            color: $primary-color;
            margin: 0 100px 0 0;
            .form-group{
                margin: 30px 0 0;
            }
            textarea{
                resize: none;
            }
        }
        .upload-inst{
            background: rgba(251, 251, 255, 1);
            border: 1px solid $border-color;
            padding: 15px 25px;
            box-shadow: 3px 16px 17px -12px rgba(0, 0, 0, 0.11);
            h1{
                color: $primary-color;
                margin:0 0 10px !important;
            }
        }
        .upload-inst-btn{
            @include btnPrimary;
        }
        #peter-lang-table{
            margin: 35px 0 0;
            border-bottom: none;
            border-spacing: 0 4px!important;
            thead{
                background: #FFFFFF;
                box-shadow: 0px 0px 5px -1px rgba(0,0,0, 0.2);
            }
            th{
                border-bottom: none;
            }
            .odd{
                background: $right-bg;
                .sorting_1{
                    background: $right-bg;
                }
            }
            .even, .sorting_1{
                background:#EBECF3;
            }
        }
    }
    .login-wrap {
        width: 100%;
        padding: 20px 25px;
        .login-left {
            width: 310px;
            margin: 40px auto 0;
            h1{
                font-weight: map-get($font-weight, "bold" );
                font-size: 22px;
                color: $primary-color;
                text-transform: uppercase;
                text-align: center;
                margin: 0 0 100px;
            }
        }
        .logi-right {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            opacity: 0.1;
        }
    }
    .login-logo{
        width:120px;
    }
    .form-log-wrap {
        .valide-btn{
            @include btnPrimary;
            text-transform: uppercase;
        }
        .forgot{
            text-align: right;
            margin: 10px 0 0;
            a{
                color: $gray-color;
            }
        }
        .sign-up-text {
            margin: 100px 0 0;
            text-align: center;
            a{
                color: $primary-color;
                text-transform: uppercase;
                font-weight: map-get($font-weight, "bold" );
            }
        }
    }
    .signup-right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: 100%;
            background: $gray-color;
            position:absolute;
            left: 0;
            opacity: 0.2;
        }
        &::after{
            content: 'Or';
            position: absolute;
            left: -6px;
            background: $bg-white;
            padding: 10px 0;
        }
        .gmail{
            padding: 10px;
            border: 1px solid #C7CFE3;
            margin: 0 0 25px;
            a{
                color: #C7CFE3;
            }
        }
    }
}